{% extends "layout.html" %}
{% from "form_helper.html" import render_field %}


{% block content %}

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Coworking 198</a>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 bg-light sidebar mt-5">
        <div class="sidebar-sticky pb-3">
          
          <h3 class="mt-3 mb-4">Add Expense</h3>
              <form method=POST action="{{ url_for('index') }}">

                {{ render_field(form.payee) }}
                {{ render_field(form.amount) }}
                {{ render_field(form.date_ref) }}
                                
            <button type="submit" class="btn btn-primary" value=Register>Submit</button>
          </form>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
        </div>

        {% for item in plot %}
          {{ item|safe }}
        {% endfor %}

        <h3>Expense's Table</h3>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Date</th>
                <th>Payee</th>
                <th>Amount</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="accordion">
              {% for doc in table %}
              <!--
              <tr data-toggle="collapse" data-target=".order{{loop.index}}">
              -->
                <div class="container" id="row{{loop.index}}">
                <tr>
                    <td class="align-middle">{{ doc['contas'].month_ref }}</td>
                    <td class="align-middle">{{ doc['contas'].payee }}</td>
                    <td class="align-middle">R$ {{ doc['contas'].amount }}</td>
                    <td class="align-middle">
                      <button class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#detaislRow{{loop.index}}" aria-expanded="false" aria-controls="detaislRow{{loop.index}}">
                        Details
                      </button>
                      <button class="btn btn-outline-danger btn-sm" data-toggle="collapse" data-target="#deleteRow{{loop.index}}" aria-expanded="false" aria-controls="deleteRow{{loop.index}}">
                        Delete
                      </button>
                    </td>
                </tr>
                <tr id="detaislRow{{loop.index}}" class="collapse" aria-labelledby="detailsrow{{loop.index}}" data-parent="#accordion">
                  <td>Added by: {{ doc['author'] }}</td>
                  <td>Added in: {{ doc['created'] }}</td>
                  <td class="text-break">Id: {{ doc['_id'] }}</td>
                </tr>
                <tr id="deleteRow{{loop.index}}" class="collapse" aria-labelledby="deleterow{{loop.index}}" data-parent="#accordion">
                  <td>
                    <form action="{{ url_for('delete_entry') }}" method="POST">
                      Are you Sure?
                      <input type="hidden" name="_id" value="{{ doc['_id'] }}" />
                      <input class="btn btn-danger btn-sm ml-1" type="submit" value="Delete entry" />
                    </form>
                  </td>
                </tr>
                </div>
              {% endfor %}
            </tbody>
            </div>
          </table>
        </main>
    </div>
  </div>

  
{% endblock %}